<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo1.png')}}">
    
    <title>Emotion Detector</title>
</head>

<body onload="time_date()">
    <header class="head_design">
        <div style="display: flex;">
            <div>
                <img src="{{url_for('static', filename='logo2.png')}}" class="logo_size">
            </div>
        </div>
    </header>
    <center>
        <div>
            <img src="{{ url_for('video') }}" class="cam_size">
        </div>
    </center>
</body>

</html>